In [39]:
import pandas

dataframe = pandas.read_csv('https://media.githubusercontent.com/media/sandeep-multani/datasets/main/datasets/loan_data.csv')

dataframe.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y

In [40]:
dataframe.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,381.000000,381.000000,381.000000,370.000000,351.000000
mean,3579.845144,1277.275381,104.986877,340.864865,0.837607
std,1419.813818,2340.818114,28.358464,68.549257,0.369338
min,150.000000,0.000000,9.000000,12.000000,0.000000
25%,2600.000000,0.000000,90.000000,360.000000,1.000000
50%,3333.000000,983.000000,110.000000,360.000000,1.000000
75%,4288.000000,2016.000000,127.000000,360.000000,1.000000
max,9703.000000,33837.000000,150.000000,480.000000,1.000000

In [41]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            381 non-null    object
 1   Gender             376 non-null    object
 2   Married            381 non-null    object
 3   Dependents         373 non-null    object
 4   Education          381 non-null    object
 5   Self_Employed      360 non-null    object
 6   ApplicantIncome    381 non-null    int64
 7   CoapplicantIncome  381 non-null    float64
 8   LoanAmount         381 non-null    float64
 9   Loan_Amount_Term   370 non-null    float64
 10  Credit_History     351 non-null    float64
 11  Property_Area      381 non-null    object
 12  Loan_Status        381 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 38.8+ KB

In [42]:
#dataframe = dataframe.dropna()
dataframe.dropna(inplace=True)

In [43]:
dataframe['Gender'].replace({'Male':1, 'Female':0}, inplace=True)
dataframe['Education'].replace({'Graduate':1, 'Not Graduate':0}, inplace=True)

In [44]:
dataframe['Gender'].unique()

array([1, 0])

In [45]:
dataframe['Education'].unique()

array([1, 0])

In [46]:
print(dataframe['Married'].unique())
dataframe['Married'].replace({'Yes':1, 'No':0}, inplace=True)
print(dataframe['Married'].unique())

['Yes' 'No']
[1 0]

In [47]:
print(dataframe['Dependents'].unique())

for x in dataframe.index:
  if dataframe.loc[x, "Dependents"] == "3+":
    dataframe.loc[x, "Dependents"] = "4"

print(dataframe['Dependents'].unique())

['1' '0' '2' '3+']
['1' '0' '2' '4']

In [48]:
dataframe['Dependents'] = pandas.to_numeric(dataframe['Dependents'])
print(dataframe['Dependents'].unique())

[1 0 2 4]

In [49]:
print(dataframe['Self_Employed'].unique())
print(dataframe['Loan_Status'].unique())

dataframe['Self_Employed'].replace({'Yes':1, 'No':0}, inplace=True)
dataframe['Loan_Status'].replace({'Y':1, 'N':0}, inplace=True)

print(dataframe['Self_Employed'].unique())
print(dataframe['Loan_Status'].unique())

['No' 'Yes']
['N' 'Y']
[0 1]
[0 1]

In [50]:
print(dataframe['Property_Area'].unique())
dataframe['Property_Area'].replace({'Rural':0, 'Urban':1, 'Semiurban':2}, inplace=True)
print(dataframe['Property_Area'].unique())

['Rural' 'Urban' 'Semiurban']
[0 1 2]

In [51]:
del dataframe['Loan_ID']
dataframe.head(10)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
1,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,1
2,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,1
3,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,1
4,1,1,0,0,0,2333,1516.0,95.0,360.0,1.0,1,1
5,1,1,2,1,0,3200,700.0,70.0,360.0,1.0,1,1
7,1,0,0,1,0,1853,2840.0,114.0,360.0,1.0,0,0
8,1,1,2,1,0,1299,1086.0,17.0,120.0,1.0,1,1
9,1,0,0,1,0,4950,0.0,125.0,360.0,1.0,1,1
11,0,0,0,1,0,3510,0.0,76.0,360.0,0.0,1,0

In [52]:
dataframe.corr()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Gender,1.000000,0.342512,0.233742,-0.131954,-0.007636,0.018276,0.107629,0.107087,-0.107448,0.063704,-0.112910,0.085155
Married,0.342512,1.000000,0.383522,-0.023510,-0.018867,-0.042202,0.059177,0.177552,-0.152815,0.056854,-0.009957,0.123695
Dependents,0.233742,0.383522,1.000000,-0.107375,0.055056,0.169586,-0.074247,0.077782,-0.114322,0.023430,-0.046700,0.031975
Education,-0.131954,-0.023510,-0.107375,1.000000,-0.021160,0.040449,0.052910,0.041882,0.141566,-0.011413,0.068334,0.052029
Self_Employed,-0.007636,-0.018867,0.055056,-0.021160,1.000000,0.231252,-0.065120,0.012915,-0.051897,0.002907,-0.018898,-0.047567
ApplicantIncome,0.018276,-0.042202,0.169586,0.040449,0.231252,1.000000,-0.243677,0.267628,-0.099571,0.030307,-0.094729,0.033927
CoapplicantIncome,0.107629,0.059177,-0.074247,0.052910,-0.065120,-0.243677,1.000000,0.123028,-0.004158,0.012715,-0.007700,-0.001546
LoanAmount,0.107087,0.177552,0.077782,0.041882,0.012915,0.267628,0.123028,1.000000,0.135069,-0.043853,-0.061260,0.053104
Loan_Amount_Term,-0.107448,-0.152815,-0.114322,0.141566,-0.051897,-0.099571,-0.004158,0.135069,1.000000,0.015269,0.002121,-0.009547
Credit_History,0.063704,0.056854,0.023430,-0.011413,0.002907,0.030307,0.012715,-0.043853,0.015269,1.000000,0.094813,0.588029
Property_Area,-0.112910,-0.009957,-0.046700,0.068334,-0.018898,-0.094729,-0.007700,-0.061260,0.002121,0.094813,1.000000,0.181864
Loan_Status,0.085155,0.123695,0.031975,0.052029,-0.047567,0.033927,-0.001546,0.053104,-0.009547,0.588029,0.181864,1.000000

In [53]:
X = dataframe.drop(['Loan_Status'], axis=1)
Y = dataframe['Loan_Status']

In [54]:
from sklearn.model_selection import train_test_split

X = dataframe.drop(['Loan_Status'],axis=1)
Y = dataframe['Loan_Status']
X.shape,Y.shape

X_train, X_test, Y_train, Y_test = train_test_split(X, Y,
													test_size=0.4,
													random_state=1)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((184, 11), (124, 11), (184,), (124,))

In [55]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

from sklearn import metrics

knn = KNeighborsClassifier(n_neighbors=3)
rfc = RandomForestClassifier(n_estimators = 7, criterion = 'entropy', random_state =7)
svc = SVC()
lc = LogisticRegression()

for clf in (rfc, knn, svc, lc):
	clf.fit(X_train, Y_train)
	Y_pred = clf.predict(X_train)
	print("Accuracy score of ",
		clf.__class__.__name__,
		"=",100*metrics.accuracy_score(Y_train, Y_pred))

Accuracy score of  RandomForestClassifier = 98.91304347826086
Accuracy score of  KNeighborsClassifier = 80.43478260869566
Accuracy score of  SVC = 73.91304347826086
Accuracy score of  LogisticRegression = 83.15217391304348

/home/sandeepmultani/git/machine-learning-py/venv/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [56]:
for clf in (rfc, knn, svc, lc):
	clf.fit(X_train, Y_train)
	Y_pred = clf.predict(X_test)
	print("Accuracy score of ",
		clf.__class__.__name__,"=",
		100*metrics.accuracy_score(Y_test, Y_pred))

Accuracy score of  RandomForestClassifier = 77.41935483870968
Accuracy score of  KNeighborsClassifier = 67.74193548387096
Accuracy score of  SVC = 67.74193548387096
Accuracy score of  LogisticRegression = 78.2258064516129

/home/sandeepmultani/git/machine-learning-py/venv/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [57]:
lc.fit(X_train, Y_train)

/home/sandeepmultani/git/machine-learning-py/venv/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [60]:
#gender, married, dependents, education, self_employed, applicant_income, 
#coapplicant_income, loan_amount, loan_amount_term, credit_history, property_area
app1 = [1,1,0,1,0,2330,4486.0,100.0,360.0,1.0,2]
app2 = [1,1,0,1,0,200,50.0,1000000.0,360.0,0.5,1]

lc.predict([app1, app2])

/home/sandeepmultani/git/machine-learning-py/venv/lib/python3.8/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1, 1])